<ng-template #errorPopup let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-danger" id="modal-basic-title">There were errors!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul>
      <li *ngFor="let error of errorData.error.errors" class="text-danger">{{error.message}}</li>
      <li class="text-danger">{{errorData.error.message}}</li>
    </ul>
  </div>
  
</ng-template>